[Unit]
Description=Apache Tomcat 9 Servlet Web Application Container
After=syslog.target network.target

[Service]
User=root
Restart=on-failure
Type=forking

Environment=CATALINA_PID=pathtotomcatonlinux/temp/tomcat.pid
Environment=CATALINA_HOME=pathtotomcatonlinux
Environment=CATALINA_BASE=pathtotomcatonlinux
ExecStart=pathtotomcatonlinux/bin/startup.sh
ExecStop=pathtotomcatonlinux/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
