[Unit]
Description=Apache Tomcat 9 Servlet Web Application Container
After=syslog.target network.target

[Service]
User=root
Restart=on-failure
Type=forking

Environment=CATALINA_PID=yourpathtotomcatonlinux/temp/tomcat.pid
Environment=CATALINA_HOME=yourpathtotomcatonlinux
Environment=CATALINA_BASE=yourpathtotomcatonlinux
ExecStart=yourpathtotomcatonlinux/bin/startup.sh
ExecStop=yourpathtotomcatonlinux/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
